main {
    padding: 10px;
}

.bg-color{
    background-color:navy;
    color:white;
}

/* .display {
    width: 100%;
} */

.col {
    border-style: solid;
    margin: 10px;
    list-style-type: none;
}